Make.local
*.a
*.CSV
*.cer
*.crl
*.crt
*.csr
*.db
*.db.attr
*.db.attr.old
*.db.old
*.domain.txt
*.efi
!efi/*.efi
NvVars
*.efi.debug
*.efi.signed
*.esl
*.gdb*
*.gcda
*.gcno
*.gcov
*.hash
*.key
*.key
*.o
*.pem
*.p12
*.so
*.srl
*.srl.old
*.sw?
*.tar.*
shim-src/build*/
shim-src/.cache/
shim-src/certdb/
shim-src/compile_commands.json
shim-src/cov-int/
shim-src/post-process-pe
shim-src/random.bin
shim-src/sbat.*.csv
shim-src/scan-results/
shim-src/[Ss]creenlog*
shim-src/shim_cert.h
shim-src/test-*
!shim-src/test-*.c
!shim-src/test-data/
shim-src/test-random.h
shim-src/version.c
